# Default ignored files
/shelf/
/workspace.xml
/.name
/codeStyles/codeStyleConfig.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/libraries/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
/libraries/Maven__com_google_guava_guava_25_0_jre.xml
/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
/libraries/Maven__com_squareup_okhttp3_okhttp_3_11_0.xml
/libraries/Maven__com_squareup_okio_okio_1_14_0.xml
/libraries/Maven__junit_junit_4_12.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_8_15.xml
/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
/libraries/Maven__org_assertj_assertj_core_3_11_1.xml
/libraries/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_jsoup_jsoup_1_13_1.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_141_59.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_141_59.xml
/libraries/Maven__org_testfx_testfx_core_4_0_15_alpha.xml
/libraries/Maven__org_testfx_testfx_junit_4_0_15_alpha.xml
/misc.xml
/modules.xml
/mse-crawler.iml
/vcs.xml
